*{
    margin:0;
    padding:0;
}
.page{
    font-family:sans-serif;
    margin:0 auto;
    background:#000;
    color:#fff;
    line-height:1.5;
    position:relative;
}

.header{
    padding:0 12px;
    position:fixed;
    z-index:999;
    width:3%;
    background:#111;
    box-sizing:border-box;
    border-bottom:1px solid #fff;
}
.header-title{
    line-height:50px;
    font-size:22px;
}
ul,li{
    display:block;
}
li{
    height:50px;
    line-height:50px;
    padding:0 12px;
    border-bottom:1px solid #777;
    background:#111;
}

#menu-button{
    position:absolute;
    top:0;
    right:0;
    width:50px;
    height:50px;
    overflow:hidden;
    background:#fff;
    color:#000;
    line-height:50px;
    text-align:center;
    font-size:40px;
    cursor:pointer;
    transition:all .5s;
}


#menu-button::after{
    content:'×';
}
#menu-button.close{
    color:#fff;
    background:#000;
}
#menu-button.close::after{
    content:'≡';
}

#menu{
    transition:transform .5s;
    position:absolute;
    width:10%;
    transform:translateY(-300px);

}
#menu.show-menu{
    transform:translateY(51px);
}

.titre {
    margin-left: 2%;
    margin-top: 1%;
}

.fh {
    margin-right: 2%;
}
/*img.canap{
    width: 50 ;
}*/

M{
    margin-left: 2%;
}
I{
    margin-left: 5%;
}
Y{
    margin-left: 2%;
}
.gras{
    font-weight: bold;
}
.gris{
    color: grey;
    font-size: 10px;
}