*{
    margin:0;
    padding:0;
}
.page{
    font-family:sans-serif;
    background:#000;
    color:#fff;
    line-height:1.5;
}

.header{
    padding:0 12px;
    z-index:999;
    width:3%;
    background:#111;
    box-sizing:border-box;
    border-bottom:1px solid #fff;
    margin-right: 10px;
}
.header-title{
    line-height:50px;
    font-size:22px;
}
ul,li{
    display:block;
}
li{
    height:50px;
    line-height:50px;
    padding:0 12px;
    border-bottom:1px solid #777;
    background:#111;
}

#menu-button{
    width:50px;
    height:50px;
    overflow:hidden;
    background:#fff;
    color:#000;
    line-height:50px;
    text-align:center;
    font-size:40px;
    cursor:pointer;
    transition:all .5s;
}


#menu-button::after{
    content:'×';
}
#menu-button.close{
    color:#fff;
    background:#000;
}
#menu-button.close::after{
    content:'≡';
}

#menu{
    transition:transform .5s;
    position:absolute;
    width:10%;
    transform:translateY(-300px);

}
#menu.show-menu{
    transform:translateY(0px);
}

.fh {
    align-items: center;
    display: flex;
}

.pfh {
    margin-right: 20px;
    margin-left: 10px;

}

.gras{
    font-weight: bold;
}
.gris{
    color: grey;
    font-size: 10px;
}
.hdp {
    justify-content: space-between;
}

.groupetitle {
    margin-left: 2%;
    display : flex;
    font-size: 10px;
  }

.titre {
    margin-left: 15px;
}
.leftnav {
   display: flex;
    align-items: center;
}


#searchbar {
    display: grid;
    grid-template-columns: 10% 60% 20%;
    grid-gap: 5%;
    border: 0;
    width: 550px;
}

.searchy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.searchies {
    display: flex;
    align-items: center;
}

.intsearch {
    display: flex;
    border-bottom: 2px solid black;
    margin-left: 10px;
    width:100%;
}

footer {
    font-family: sans-serif;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
    border:0;
    border-bottom: 2px outset;
    margin-right: 20px;
}